@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background: url(backcover.png) ;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 64% 93%;

    
}
.main-div{
    
}
.main-div nav{
    /* background-color: coral; */
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 10px;
    align-items: center;
}
.main-div nav img{
    width: 9%;
}
.main-div nav .nav-items{
    display: flex;
    justify-content: space-between;
    width: 38%;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: #484a4a;
}
.main-div nav .nav-items .nav-item{

}
.main-div nav .signin-btn{
    width: 6%;
    height: 23%;
    border-radius: 20px 20px;
    background-image: linear-gradient(to right,#5A20CB 2% ,#E03B8B 98%);
    border: none;
    color: white;
    cursor: pointer;
}




.main-div .intro-section{
    /* background-color: #5A20CB; */
    width: 100%;
    height: 700px;
    display: inline-grid;
    grid-template-columns: 500px 600px;
    /* grid-column-gap: 70px; */
    justify-content: left;
    padding-left: 50px;
}

.main-div .intro-section .left-section{
    /* background-color: chartreuse; */
    height: 600px;
    padding-top: 150px;
    padding-left: 100px;
}
.main-div .intro-section .left-section h1{
    font-size: 65px;
    font-weight: 600;
    color: #482197;
}
.main-div .intro-section .left-section h4{
    font-size: 18px;
    margin-top: 40px;
    width: 90%;
    font-weight: 500;
    color: #484a4a;
}
.main-div .intro-section .left-section .learn-more-btn{
    margin-top: 15%;
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right,#5A20CB 2% ,#E03B8B 98%);
    font-size: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.main-div .intro-section .imgs-div{
    /* background-color: darkgoldenrod; */
    position: relative;

}
.main-div .intro-section .imgs-div .vector-img{
    /* width: 100%; */
    position: absolute;
    top: 73%;
    left: 15%;

}
.main-div .intro-section .imgs-div .vector-dot{
    position: absolute;
    top: 74%;
    left: 25%;
}
.main-div .intro-section .imgs-div .intro-img{
    padding-top: 20px;
    height: 650px;
    width: 1000px;
}


